body {
  background-color: rgb(255, 251, 251);
}

.register {
  background-color: #fcf1f1;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: black;
}

.left {
  flex: 2;
}
.right {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 200px;
  gap: 20px;
  color: white;
}

.login {
  cursor: pointer;
}
.Register {
  cursor: pointer;
}

.form {
  display: flex;
  justify-content: center;
  background-color: white;
}

.logo {
  display: flex;
  cursor: pointer;
  margin-left: 50px;
}
