.packageCard {
  display: flex;
  padding: 20px 20px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.cardComponent {
  background-color: rgb(18, 18, 19);
  color: white;
}

.typography {
  color: white !important;
}

.cardActions {
  background-color: rgb(73, 73, 224);
  display: flex;
  justify-content: space-between;
}

.cardActionsButton {
  color: white !important;
}
