.workoutPlan {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.inputfield {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.plandetails {
  align-self: center;
  width: 60%;
}

.copyright {
  display: flex;
  align-self: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.button {
  background-color: green;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
