// .container {
//   display: flex;
//   flex-direction: column;
//   gap: 30px;

//   .userInformation {
//     height: 200px;
//     width: full;
//     .boxshadow {
//       margin: 30px;
//       margin-bottom: 15px;
//       height: 150px;
//       padding: 30px;
//       box-shadow: 2px 4px 10px 12px rgba(46, 41, 41, 0.48);
//       -webkit-box-shadow: 2px 4px 10px 12px rgba(46, 41, 41, 0.48);
//       -moz-box-shadow: 2px 4px 10px 12px rgba(46, 41, 41, 0.48);
//     }
//   }

//   .instructorInformation {
//     height: 200px;
//     .boxshadow {
//       margin: 30px;
//       margin-bottom: 15px;
//       height: 150px;
//       padding: 30px;
//       box-shadow: 2px 4px 10px 12px rgba(46, 41, 41, 0.48);
//       -webkit-box-shadow: 2px 4px 10px 12px rgba(46, 41, 41, 0.48);
//       -moz-box-shadow: 2px 4px 10px 12px rgba(46, 41, 41, 0.48);
//     }
//   }

//   .packageInformation {
//     height: 200px;
//     .boxshadow {
//       margin: 30px;
//       margin-bottom: 15px;
//       height: 150px;
//       padding: 30px;
//       box-shadow: 2px 4px 10px 12px rgba(46, 41, 41, 0.48);
//       -webkit-box-shadow: 2px 4px 10px 12px rgba(46, 41, 41, 0.48);
//       -moz-box-shadow: 2px 4px 10px 12px rgba(46, 41, 41, 0.48);
//     }
//   }
//   .paymentDetails {
//     height: 200px;
//     .boxshadow {
//       margin: 30px;
//       margin-bottom: 15px;
//       height: 150px;
//       padding: 30px;
//       box-shadow: 2px 4px 10px 12px rgba(46, 41, 41, 0.48);
//       -webkit-box-shadow: 2px 4px 10px 12px rgba(46, 41, 41, 0.48);
//       -moz-box-shadow: 2px 4px 10px 12px rgba(46, 41, 41, 0.48);
//     }
//   }
// }

.adduser {
  width: 100%;
  display: flex;
  .navContainer {
    flex: 6;
    .container {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .userInformation {
        height: 200px;
        width: full;
        .boxshadow {
          margin: 30px;
          margin-bottom: 15px;
          height: 150px;
          padding: 30px;
          box-shadow: 2px 4px 10px 12px rgba(46, 41, 41, 0.48);
          -webkit-box-shadow: 2px 4px 10px 12px rgba(46, 41, 41, 0.48);
          -moz-box-shadow: 2px 4px 10px 12px rgba(46, 41, 41, 0.48);
        }
      }

      .instructorInformation {
        height: 200px;
        .boxshadow {
          margin: 30px;
          margin-bottom: 15px;
          height: 150px;
          padding: 30px;
          box-shadow: 2px 4px 10px 12px rgba(46, 41, 41, 0.48);
          -webkit-box-shadow: 2px 4px 10px 12px rgba(46, 41, 41, 0.48);
          -moz-box-shadow: 2px 4px 10px 12px rgba(46, 41, 41, 0.48);
        }
      }

      .packageInformation {
        height: 200px;
        .boxshadow {
          margin: 30px;
          margin-bottom: 15px;
          height: 150px;
          padding: 30px;
          box-shadow: 2px 4px 10px 12px rgba(46, 41, 41, 0.48);
          -webkit-box-shadow: 2px 4px 10px 12px rgba(46, 41, 41, 0.48);
          -moz-box-shadow: 2px 4px 10px 12px rgba(46, 41, 41, 0.48);
        }
      }
      .paymentDetails {
        height: 200px;
        .boxshadow {
          margin: 30px;
          margin-bottom: 15px;
          height: 150px;
          padding: 30px;
          box-shadow: 2px 4px 10px 12px rgba(46, 41, 41, 0.48);
          -webkit-box-shadow: 2px 4px 10px 12px rgba(46, 41, 41, 0.48);
          -moz-box-shadow: 2px 4px 10px 12px rgba(46, 41, 41, 0.48);
        }
      }
    }
    .data {
      display: flex;
      font-weight: bold;
      margin: 2px;
    }
  }
}
