.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(228, 221, 221);
  min-height: 100vh;
  .top {
    height: 52px;
    display: flex;
    align-items: center; //center vertiaclly
    justify-content: center; // align horizentally
    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #6439ff;
    }
  }
  hr {
    height: 0;
    border: 0.5px solid rgb(228, 221, 221);
  }
  .center {
    padding-left: 30px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    .title {
      font-size: 10px;
      font-weight: bold;
      color: #999;
      margin-top: 30px;
      margin-bottom: 15px;
    }

    li {
      display: flex;
      align-items: center;
      padding: 5px;
      cursor: pointer;

      &:hover {
        background-color: rgb(240, 157, 157);
      }

      .icon {
        font-size: 30px;
        color: #3511ac;
      }
      span {
        font-size: 13px;
        font-weight: 600;
        color: #888;
        margin-left: 10px;
      }
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-top: 15px;

    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid #7451f8;
      cursor: pointer;
      margin: 5px;

      &:nth-child(1) {
        background-color: whitesmoke;
      }
      &:nth-child(2) {
        background-color: #333;
      }
    }
  }
}
